<table class="table table-striped table-borderless fs-sm">
    <tbody>
    <tr>
        <td>{% trans from 'work' %}Internal Id{% endtrans %}</td>
        <td>{{ work.internalId }}</td>
    </tr>
    <tr>
        <td>{% trans from 'work' %}Imdb id{% endtrans %}</td>
        <td><a href="{{ work.imdbLink }}" target="_blank">{{ work.imdbId }}</a></td>
    </tr>
    <tr>
        <td>{% trans from 'work' %}French Title{% endtrans %}</td>
        <td>{{ work.name }}</td>
    </tr>
    <tr>
        <td>{% trans from 'work' %}Original name{% endtrans %}</td>
        <td>{{ work.originalName }}</td>
    </tr>
    <tr>
        <td>{% trans from 'work' %}Country{% endtrans %}</td>
        <td>{{ work.country|country_format }}</td>
    </tr>
    <tr>
        <td>{% trans from 'work' %}Year of production{% endtrans %}</td>
        <td>{{ work.year }}</td>
    </tr>
    <tr>
        <td>{% trans from 'work' %}Duration{% endtrans %}</td>
        <td>{{ work.duration }}</td>
    </tr>
    <tr>
        <td>{% trans from 'work' %}Minimum guaranteed{% endtrans %}</td>
        <td>{{ work.minimumGuaranteed }}</td>
    </tr>
    <tr>
        <td>{% trans from 'work' %}Ceiling of recoverable costs{% endtrans %}</td>
        <td>{{ work.ceilingOfRecoverableCosts }}</td>
    </tr>
    </tbody>
</table>