<table class="table">
    <thead>
    <tr>
        <th>{% trans from 'work' %}Internal Id{% endtrans %}</th>
        <th>{% trans from 'work' %}Imdb{% endtrans %}</th>
        <th>{% trans from 'work' %}Original name{% endtrans %}</th>
        <th>{% trans from 'work' %}Year{% endtrans %}</th>
        <th>{% trans from 'work' %}Contract{% endtrans %}</th>
        <th>{% trans from 'misc' %}Actions{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for work in works %}
        <tr>
            <td><a href="{{ path('app_work_show', {'id': work.id}) }}">{{ work.internalId }}</a></td>
            <td><a href="{{ work.imdbLink }}" target="_blank">{{ work.imdbId }}</a></td>
            <td>{{ work.originalName }}</td>
            <td>{{ work.year }}</td>
            <td><a href="{{ path('app_acquisition_contract_show', {'id': work.acquisitionContract.id}) }}">{{ work.acquisitionContract.originalFileName }}</a></td>
            <td><a href="{{ path('app_acquisition_contract_work_update', {'contract': work.acquisitionContract.id, 'id': work.id}) }}" class="btn btn-warning">{% trans from 'misc' %}Update{% endtrans %}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>