<table class="table">
    <thead>
    <tr>
        <th>Contract</th>
        <th>Company</th>
        <th>Beneficiary</th>
        <th>Signed at</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Works</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for contract in contracts %}
        <tr>
            <td><a href="{{ path('app_company_acquisition_contract_show', {'company': contract.company.id, 'id': contract.id}) }}">{{ contract.originalFileName }}</a></td>
            <td><a href="{{ path('app_company_show', {'id': contract.company.id}) }}">{{ contract.company.name }}</a></td>
            <td><a href="{{ path('app_company_show', {'id': contract.beneficiary.id}) }}">{{ contract.beneficiary.name }}</a></td>
            <td>{{ contract.signedAt|date_format }}</td>
            <td>{{ contract.startsAt|date_format }}</td>
            <td>{{ contract.endsAt|date_format }}</td>
            <td>{{ contract.works|length }}</td>
            <td>
                <a href="{{ path('app_company_acquisition_contract_download', {'company': contract.company.id, 'id': contract.id}) }}" class="btn btn-primary">
                    {% trans from 'misc' %}Download{% endtrans %}
                </a>
                <a href="{{ path('app_company_acquisition_contract_update', {'company': contract.company.id, 'id': contract.id}) }}" class="btn btn-warning">
                    {% trans from 'misc' %}Update{% endtrans %}
                </a>
                <a href="{{ path('app_acquisition_contract_work_add', {'contract': contract.id}) }}" class="btn btn-success">
                    {% trans from 'work' %}Add work{% endtrans %}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>