<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Contract</th>
            <th>Beneficiary</th>
            <th>Period</th>
            <th>Works</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td><a href="{{ path('app_company_acquisition_contract_show', {'company': contract.company.id, 'id': contract.id}) }}">{{ contract.name }}</a></td>
                <td><a href="{{ path('app_company_show', {'id': contract.beneficiary.id}) }}">{{ contract.beneficiary.name }}</a></td>
                <td>
                    {{ contract.startsAt|date_format }} - {{ contract.endsAt|date_format(true) }}
                </td>
                <td>{{ contract.works|length }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-alt-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item text-primary" href="{{ path('app_company_acquisition_contract_download', {'company': contract.company.id, 'id': contract.id}) }}">
                                    <i class="fas fa-download"></i> {% trans from 'misc' %}Download{% endtrans %}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-warning" href="{{ path('app_company_acquisition_contract_update', {'company': contract.company.id, 'id': contract.id}) }}">
                                    <i class="fas fa-edit"></i> {% trans from 'misc' %}Update{% endtrans %}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-success" href="{{ path('app_acquisition_contract_work_add', {'contract': contract.id}) }}">
                                    <i class="fas fa-add"></i> {% trans from 'work' %}Add work{% endtrans %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>