{% extends 'shared/layout/layout_base.html.twig' %}

{% block content_title %}
    {% trans from 'setting' %}List of broadcast channels{% endtrans %}
{% endblock %}
{% block content_action %}
    <a class="btn btn-sm btn-success" href="{{ path('app_setting_broadcast_channel_add') }}">{% trans from 'setting' %}Add a channel{% endtrans %}</a>
{% endblock %}
{% block content %}
    {% component card %}
        {% block body_content %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans from 'setting' %}Name{% endtrans %}</th>
                        <th>{% trans from 'setting' %}Services{% endtrans %}</th>
                        <th>{% trans from 'misc' %}Actions{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for channel in channels %}
                        <tr>
                            <td><a href="{{ path('app_setting_broadcast_channel_show', {'id': channel.id}) }}">{{ channel.name }}</a></td>
                            <td>{{ channel.broadcastServices|length }}</td>
                            <td><a class="btn btn-sm btn-warning" href="{{ path('app_setting_broadcast_channel_update', {'id': channel.id}) }}">{% trans from 'misc' %}Update{% endtrans %}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    {% endcomponent %}
{% endblock %}
