{% extends 'shared/layout/layout_base.html.twig' %}

{% block content %}
    {% component card %}
        {% block header_content %}
            <h1 class="card-title text-center">{{ channel.name }}</h1>
        {% endblock %}
        {% block body_content %}
            <div class="justify-content-between mb-2">
                <a href="{{ path('app_setting_broadcast_channel_service_add', {'channel': channel.id}) }}" class="btn btn-success">{% trans from 'setting' %}Add a service{% endtrans %}</a>
                <a href="{{ path('app_setting_broadcast_channel_update', {'id': channel.id}) }}" class="btn btn-warning">{% trans from 'misc' %}Update{% endtrans %}</a>
            </div>

            <ul>
                <li>Id: {{ channel.id }}</li>
                <li>Name: {{ channel.name }}</li>
                <li>Created at: {{ channel.createdAt|datetime_format }}</li>
                <li>Created by: {{ channel.createdBy|user_format }}</li>
                <li>Updated at: {{ channel.updatedAt|datetime_format }}</li>
                <li>Updated by: {{ channel.updatedBy|user_format }}</li>
            </ul>

            <h4>{% trans from 'setting' %}List of broadcast services{% endtrans %}</h4>

            {% include 'setting/broadcast/service/_embedded/_list.html.twig' with {
                'services': channel.broadcastServices
            } %}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
