{% extends 'shared/layout/layout_base.html.twig' %}

{% block content_title %}
    {{ service.name }}
{% endblock %}
{% block content_action %}
    <a href="{{ path('app_setting_broadcast_channel_service_update', {'channel': service.broadcastChannel.id, 'id': service.id}) }}" class="btn btn-warning">{% trans from 'misc' %}Update{% endtrans %}</a>
{% endblock %}
{% block content %}
    {% component card %}
        {% block body_content %}
            <ul>
                <li>Id: {{ service.id }}</li>
                <li>Name: {{ service.name }}</li>
                <li>Channel: <a href="{{ path('app_setting_broadcast_channel_show', {'id': service.broadcastChannel.id}) }}">{{ service.broadcastChannel.name }}</a></li>
                <li>Created at: {{ service.createdAt|datetime_format }}</li>
                <li>Created by: {{ service.createdBy|user_format }}</li>
                <li>Updated at: {{ service.updatedAt|datetime_format }}</li>
                <li>Updated by: {{ service.updatedBy|user_format }}</li>
            </ul>
        {% endblock %}
    {% endcomponent %}
{% endblock %}
