{% extends 'shared/layout/layout_base.html.twig' %}

{% block content_title %}
    {{ type.name }}
{% endblock %}
{% block content_action %}
    <a href="{{ path('app_setting_adaptation_cost_type_update', {'id': type.id}) }}" class="btn btn-warning">{% trans from 'misc' %}Update{% endtrans %}</a>
{% endblock %}
{% block content %}
    {% component card %}
        {% block body_content %}
            <ul>
                <li>Id: {{ type.id }}</li>
                <li>Name: {{ type.name }}</li>
                <li>Created at: {{ type.createdAt|datetime_format }}</li>
                <li>Created by: {{ type.createdBy|user_format }}</li>
                <li>Updated at: {{ type.updatedAt|datetime_format }}</li>
                <li>Updated by: {{ type.updatedBy|user_format }}</li>
            </ul>
        {% endblock %}
    {% endcomponent %}
{% endblock %}
