{% extends 'shared/layout/layout_base.html.twig' %}

{% block title %}Rights Flow{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>TODO</h1>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('app_user_index') }}">Users</a><br />
    {% endif %}

    <a href="{{ path('app_company_index') }}">Companies</a><br />
    <a href="{{ path('app_beneficiary_index') }}">Beneficiaries</a><br />
    <a href="{{ path('app_security_profile_change_password') }}">Change password</a><br />
{% endblock %}
