<table class="table">
    <thead>
    <tr>
        <th>Distributor</th>
        <th>Canal</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Revenue</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for revenue in revenues %}
        <tr>
            <td>{{ revenue.distributor.name }}</td>
            <td>{{ revenue.channel.name }}</td>
            <td>{{ revenue.startsAt|date_format }}</td>
            <td>{{ revenue.endsAt|date_format }}</td>
            <td>{{ revenue.revenue }}</td>
            <td>
                <a href="{{ path('app_work_revenue_show', {'work': work.id, 'id': revenue.id}) }}" class="btn btn-primary">Voir</a>
                <a href="{{ path('app_work_revenue_update', {'work': work.id, 'id': revenue.id}) }}" class="btn btn-warning">Update</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>