{% extends 'shared/layout/base.html.twig' %}

{% block css_global %}
    {{ parent() }}
    {{ encore_entry_link_tags('assets/css/app') }}
    {{ encore_entry_link_tags('assets/css/demo') }}
{% endblock %}

{% block html_class('light-style layout-navbar-fixed layout-menu-fixed') %}

{% block body %}
    <div class="layout-wrapper layout-content-navbar  ">
        <div class="layout-container">
            {{ include('shared/layout/_embedded/_sidebar.html.twig') }}
            {{ include('shared/layout/_embedded/_navbar.html.twig') }}
            {{ include('shared/layout/_embedded/_footer.html.twig') }}
        </div>
    </div>
{% endblock %}