{% extends 'shared/layout/layout_authentication.html.twig' %}

{% block content %}
<h4 class="mb-2">Welcome to Rights Flow !</h4>
<p class="mb-4">Please to sign-in to your account and start your work</p>
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
{{ form_start(form) }}
{{ form_rest(form) }}

<!-- Remember me -->
<div class="mb-3">
    <div class="d-flex justify-content-between">
        <div>
            <input type="checkbox" class="form-check-input" id="_remember_me" name="_remember_me" />
            <label class="form-check-label" for="_remember_me">Se souvenir de moi ?</label>
        </div>
        <a href="{{ path('app_security_resetting_request') }}">Forgot password?</a>
    </div>
</div>
<!-- Token -->
<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
<!-- Button -->
<div class="mb-3">
    <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
</div>
{{ form_end(form) }}
{% endblock %}
