{% extends 'shared/layout/layout_base.html.twig' %}

{% block content_title %}
    {% trans from 'work' %}Manage territory from work{% endtrans %} : {{ work.name }}
{% endblock %}
{% block content %}
    {% component card %}
        {% block body_content %}
            {{ form_start(form) }}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans from 'work' %}Territory{% endtrans %}</th>
                        <th class="text-nowrap">{% trans from 'misc' %}Select all{% endtrans %}</th>
                        {% for channel in broadcastChannels %}
                            <th>{{ channel.name }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for territory in territories %}
                            <tr data-controller="datatable--select-all-row">
                                <td class="text-nowrap">
                                    {{ territory.name }}
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input"
                                           data-datatable--select-all-row-target="checkAll"
                                           data-action="input->datatable--select-all-row#toggleAll" />
                                </td>
                                {% for channel in broadcastChannels %}
                                    {% set formName = call_static('App\\Form\\Dto\\Work\\WorkTerritoryFormDto', 'getFormName', territory, channel) %}
                                    <td class="text-center">
                                        {{ form_widget(form.territories[formName], {
                                            'attr': {
                                                'data-datatable--select-all-row-target': 'checkbox'
                                            }
                                        }) }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button class="btn btn-warning mt-3" type="submit">
                {% trans from 'misc' %}Save{% endtrans %}
            </button>
            {{ form_end(form) }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}