{% extends 'shared/layout/layout_base.html.twig' %}

{% block content %}
    {% component card %}
        {% block header_content %}
            <h1 class="h3 fw-bold mb-1">
                {% trans with {
                    'work': work.name
                } from 'work' %}Manage territory and channels from work %work%{% endtrans %}
            </h1>
        {% endblock %}
        {% block body_content %}
            {{ form_start(form) }}
            <div class="table-responsive">
                <table class="table" data-controller="datatable--select-all">
                    <thead>
                    <tr>
                        <th>{% trans from 'setting' %}Territory{% endtrans %}</th>
                        <th>{% trans from 'work' %}Exclusive{% endtrans %}</th>
                        <th class="text-nowrap">{% trans from 'misc' %}Select all{% endtrans %}</th>
                        {% for channel in broadcastChannels %}
                            <th>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input"
                                           id="checkbox-channel-{{ channel.id }}"
                                           name="{{ form.vars.id }}[selectAll][column][{{ channel.id }}]"
                                           data-datatable--select-all-target="columnAll"
                                           data-action="input->datatable--select-all#toggleColumn"
                                           data-datatable--select-all-column-param="{{ channel.id }}"
                                           data-column-id="{{ channel.id }}"
                                    />
                                    <label class="form-check-label" for="checkbox-channel-{{ channel.id }}">
                                        {{ channel.name }} {{ channel.archived|archive_format }}
                                    </label>
                                </div>
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for territory in territories %}
                            {% set formName = call_static('App\\Form\\Dto\\Work\\WorkTerritoryFormDto', 'getFormName', territory) %}
                            <tr>
                                <td class="text-nowrap">
                                    {{ territory.archived|archive_format }} {{ territory.name }}
                                </td>
                                <td>
                                    {{ form_widget(form.exclusives[formName]) }}
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input"
                                           name="{{ form.vars.id }}[selectAll][row][{{ territory.id }}]"
                                           data-datatable--select-all-target="rowAll"
                                           data-action="input->datatable--select-all#toggleRow"
                                           data-datatable--select-all-row-param="{{ territory.id }}"
                                           data-row-id="{{ territory.id }}"
                                    />
                                </td>
                                {% for channel in broadcastChannels %}
                                    {% set formName = call_static('App\\Form\\Dto\\Work\\WorkTerritoryFormDto', 'getFormName', territory, channel) %}
                                    <td class="text-center">
                                        {{ form_widget(form.broadcastChannels[formName], {
                                            'attr': {
                                                'data-datatable--select-all-target': 'checkbox',
                                                'data-row-id': territory.id,
                                                'data-column-id': channel.id,
                                            }
                                        }) }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button class="btn btn-sm btn-warning" type="submit">
                {% trans from 'misc' %}Save{% endtrans %}
            </button>
            <a href="{{ path('app_work_show', {'id': work.id, 'tab': 'territories'}) }}" class="btn btn-sm btn-dark">
                {% trans from 'misc' %}Back{% endtrans %}
            </a>
            {{ form_end(form) }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}