<nav id="sidebar" aria-label="Main Navigation">
    <div class="content-header">
        <a href="{{ path('app_dashboard') }}" class="app-brand-link text-center">
            <img src="{{ asset('build/images/_logo/rights_flow_text.svg') }}" alt="Rights Flow Logo Text" class="app-brand-logo demo" style="width: 200px; height: auto; max-width: 100%; max-height: 100%; object-fit: contain;">
        </a>
        <div>
            <a class="d-lg-none btn btn-sm btn-alt-secondary ms-1" data-toggle="layout" data-action="sidebar_close" href="javascript:void(0)">
                <i class="fa fa-fw fa-times"></i>
            </a>
        </div>
    </div>
    <div class="js-sidebar-scroll">
        <div class="content-side">
            <ul class="nav-main">
                <!-- Choose your company -->
                <li class="nav-main-heading">Choose your company</li>
                <li class="nav-main-item">
                    {{ component('layout_user_company_selector', {
                        user: app.user
                    })}}
                </li>
                <!-- Managing my buiness -->
                <li class="nav-main-heading">Managing my business</li>
                {% if app.user.connectedOn %}
                    <li class="nav-main-item">
                        <a href="{{ path('app_acquisition_contract_index') }}" class="nav-main-link">
                            <div>{% trans from 'contract' %}Acquisition contracts{% endtrans %}</div>
                        </a>
                    </li>
                    <li class="nav-main-item">
                        <a href="{{ path('app_distribution_contract_index') }}" class="nav-main-link">
                            <div>{% trans from 'contract' %}Distribution contracts{% endtrans %}</div>
                        </a>
                    </li>
                    <li class="nav-main-item">
                        <a href="{{ path('app_work_index') }}" class="nav-main-link">
                            <div>{% trans from 'work' %}Works{% endtrans %}</div>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-main-item">
                        <div class="alert alert-warning text-center p-1 fw-bold">
                            {% trans from 'user' %}No company selected{% endtrans %}
                        </div>
                    </li>
                {% endif %}
                <!-- Settings -->
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-main-heading">Settings</li>
                    <li class="nav-main-item">
                        <a href="{{ path('app_company_index') }}" class="nav-main-link">
                            <div>{% trans from 'company' %}Companies{% endtrans %}</div>
                        </a>
                    </li>
                    <li class="nav-main-item">
                        <a href="{{ path('app_user_index') }}" class="nav-main-link">
                            <div>{% trans from 'user' %}Users{% endtrans %}</div>
                        </a>
                    </li>
                    <li class="nav-main-item">
                        <a href="{{ path('app_setting_broadcast_channel_index') }}" class="nav-main-link">
                            <div>{% trans from 'setting' %}Broadcast channels{% endtrans %}</div>
                        </a>
                    </li>
                    <li class="nav-main-item">
                        <a href="{{ path('app_setting_territory_index') }}" class="nav-main-link">
                            <div>{% trans from 'setting' %}Territories{% endtrans %}</div>
                        </a>
                    </li>
                    <li class="nav-main-item">
                        <a href="{{ path('app_setting_adaptation_cost_type_index') }}" class="nav-main-link">
                            <div>{% trans from 'setting' %}Adaptation cost types{% endtrans %}</div>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>