<ul class="list-unstyled">
    <li class="mb-3">
        <span class="fw-bold me-2">{% trans from 'contract' %}Name{% endtrans %}:</span>
        <span>{{ contract.name }}</span>
    </li>
    <li class="mb-3">
        <span class="fw-bold me-2">{% trans from 'contract' %}Signed at{% endtrans %}:</span>
        <span>{{ contract.signedAt|date_format }}</span>
    </li>
    <li class="mb-3">
        <span class="fw-bold me-2">{% trans from 'setting' %}Territories{% endtrans %}:</span>
        <span>{{ contract.territories|map(territory => territory.name)|join(', ') }}</span>
    </li>
    <li class="mb-3">
        <span class="fw-bold me-2">{% trans from 'setting' %}Broadcast channels{% endtrans %}:</span>
        <span>{{ contract.broadcastChannels|map(channel => channel.name)|join(', ') }}</span>
    </li>
    <li class="mb-3">
        <span class="fw-bold me-2">{% trans from 'contract' %}Exclusivity{% endtrans %}:</span>
        <span>{{ contract.exclusivity }}</span>
    </li>
    <li class="mb-3">
        <span class="fw-bold me-2">{% trans from 'contract' %}Commercial conditions{% endtrans %}:</span>
        <span>{{ contract.commercialConditions }}</span>
    </li>
    <li class="mb-3">
        <span class="fw-bold me-2">{% trans from 'contract' %}Report frequency{% endtrans %}:</span>
        <span>{{ contract.reportFrequency ? contract.reportFrequency.asText|trans({}, 'misc') }}</span>
    </li>
    <li class="mb-3">
        <span class="fw-bold me-2">{% trans from 'contract' %}Files{% endtrans %}:</span>
        <span>
            {% for contractFile in contract.contractFiles %}
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('app_distribution_contract_file_download', {'contract': contract.id, 'file': contractFile.id}) }}">
                            <i class="fa fa-download"></i>
                        </a>
                        {{ contractFile.originalFileName }}
                    </li>
                </ul>
            {% endfor %}
        </span>
    </li>
</ul>