<table class="table">
    <thead>
    <tr>
        <th>Distributor</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Works</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for contract in contracts %}
        <tr>
            <td><a href="{{ path('app_company_show', {'id': contract.distributor.id}) }}">{{ contract.distributor.name }}</a></td>
            <td>{{ contract.startsAt|date_format }}</td>
            <td>{{ contract.endsAt|date_format }}</td>
            <td>{{ contract.works|length }}</td>
            <td>
                <a href="{{ path('app_company_distribution_contract_show', {'company': contract.company.id, 'id': contract.id}) }}" class="btn btn-primary">
                    {% trans from 'misc' %}Show{% endtrans %}
                </a>
                {% if contract.fileName %}
                    <a href="{{ path('app_company_distribution_contract_download', {'company': contract.company.id, 'id': contract.id}) }}" class="btn btn-primary">
                        {% trans from 'misc' %}Download{% endtrans %}
                    </a>
                {% endif %}
                <a href="{{ path('app_company_distribution_contract_update', {'company': contract.company.id, 'id': contract.id}) }}" class="btn btn-warning">
                    {% trans from 'misc' %}Update{% endtrans %}
                </a>
                <a href="{{ path('app_distribution_contract_work_add', {'contract': contract.id}) }}" class="btn btn-success">
                    {% trans from 'work' %}Add work{% endtrans %}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>