<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>{% trans from 'distribution_contract' %}Name{% endtrans %}</th>
            <th>{% trans from 'distribution_contract' %}Distributor{% endtrans %}</th>
            <th>{% trans from 'work' %}Works{% endtrans %}</th>
            <th>{% trans from 'misc' %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td>
                    <a href="{{ path('app_distribution_contract_show', {'id': contract.id}) }}">
                        {{ contract.name }}
                    </a>
                </td>
                <td><a href="{{ path('app_company_show', {'id': contract.distributor.id}) }}">{{ contract.distributor.name }}</a></td>
                <td>{{ contract.works|map(work => work.name)|join(', ') }}</td>
                <td>
                    <a href="{{ path('app_distribution_contract_update', {'id': contract.id}) }}" class="btn btn-sm btn-warning">
                        {% trans from 'misc' %}Update{% endtrans %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>