<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>{% trans from 'work' %}Work{% endtrans %}</th>
            <th>{% trans from 'setting' %}Channel{% endtrans %}</th>
            <th>{% trans from 'misc' %}Starts at{% endtrans %}</th>
            <th>{% trans from 'misc' %}Ends at{% endtrans %}</th>
            <th>{% trans from 'misc' %}Amount{% endtrans %}</th>
            <th>{% trans from 'misc' %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for contractWork in contract.contractWorks %}
            {% for revenue in contractWork.revenues %}
                <tr>
                    <td>{{ contractWork.work.name }}</td>
                    <td>{{ revenue.broadcastChannel.name }}</td>
                    <td>{{ revenue.startsAt|date_format }}</td>
                    <td>{{ revenue.endsAt|date_format }}</td>
                    <td>{{ revenue.amount|format_currency(revenue.currency) }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>