{% extends 'shared/layout/layout_base.html.twig' %}

{% block content %}
    {% component card %}
        {% block header_content %}
            <h1>{{ work.name }}</h1>
        {% endblock %}
        {% block body_content %}
            <div class="justify-content-between align-items-center text-center">
                <a href="{{ path('app_work_index') }}" class="btn btn-primary">{% trans from "misc" %}List{% endtrans %}</a>
                <a href="{{ path('app_acquisition_contract_work_update', {'contract': work.acquisitionContract.id, 'id': work.id}) }}" class="btn btn-warning">{% trans from "misc" %}Update{% endtrans %}</a>
                <a href="{{ path('app_work_adaptation_add', {'work': work.id}) }}" class="btn btn-success">{% trans from 'work' %}Add adaptation{% endtrans %}</a>
                <a href="{{ path('app_work_reversion_add', {'work': work.id}) }}" class="btn btn-success">{% trans from 'work' %}Add reversion{% endtrans %}</a>
            </div>

            <ul class="list-unstyled">
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'work' %}Internal Id{% endtrans %}</span>
                    <span>{{ work.internalId }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'work' %}Imdb{% endtrans %}</span>
                    <span><a href="{{ work.imdbLink }}" target="_blank">{{ work.imdbId }}</a></span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'work' %}Name{% endtrans %}</span>
                    <span>{{ work.name }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'work' %}Original name{% endtrans %}</span>
                    <span>{{ work.originalName }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'work' %}Minimum guaranteed before reversion{% endtrans %}</span>
                    <span>{{ work.minimumGuaranteedBeforeReversion }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'work' %}Minimum cost of the top before reversion{% endtrans %}</span>
                    <span>{{ work.minimumCostOfTheTopBeforeReversion }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'work' %}Year{% endtrans %}</span>
                    <span>{{ work.year }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'work' %}Duration{% endtrans %}</span>
                    <span>{{ work.duration }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'work' %}Country{% endtrans %}</span>
                    <span>{{ work.country|country_format }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'misc' %}Created at{% endtrans %}:</span>
                    <span>{{ work.createdAt|datetime_format }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'misc' %}Created by{% endtrans %}:</span>
                    <span>{{ work.createdBy|user_format }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'misc' %}Updated at{% endtrans %}:</span>
                    <span>{{ work.updatedAt|datetime_format }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'misc' %}Updated by{% endtrans %}:</span>
                    <span>{{ work.updatedBy|user_format }}</span>
                </li>
            </ul>

            <br />
            <h4>Territories</h4>
            {% include 'work/territory/_embedded/_list.html.twig' with {
                workTerritories: work.workTerritories
            } %}

            <br />
            <h4>Adaptations</h4>
            {% include 'work/adaptation/_embedded/_list.html.twig' with {
                adaptations: work.workAdaptations
            } %}

            <br />
            <h4>Reversions</h4>
            {% include 'work/reversion/_embedded/_list.html.twig' with {
                reversions: work.workReversions
            } %}
        {% endblock %}
    {% endcomponent %}
{% endblock %}

