{% extends 'shared/layout/layout_base.html.twig' %}

{% block content_title %}
    {{ work.archived|archive_format }} {{ work.name }}
{% endblock %}
{% block content_action %}
    <a href="{{ path('app_work_update', {'id': work.id, 'redirectTo': app.request.requestUri}) }}" class="btn btn-warning btn-sm">{% trans from "misc" %}Update{% endtrans %}</a>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xxl-8">
            <div class="card">
                <ul class="nav nav-tabs nav-tabs-alt align-items-center" role="tablist">
                    <li class="nav-item">
                        <a href="{{ path('app_work_show', {'id': work.id, 'tab': 'territories'}) }}" class="nav-link {{ tab == 'territories' ? 'active' }}">
                            {% trans from 'work' %}Territories and channels{% endtrans %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_work_show', {'id': work.id, 'tab': 'distribution-costs'}) }}" class="nav-link {{ tab == 'distribution-costs' ? 'active' }}">
                            {% trans from 'work' %}Adaptations{% endtrans %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_work_show', {'id': work.id, 'tab': 'reversions'}) }}" class="nav-link {{ tab == 'reversions' ? 'active' }}">
                            {% trans from 'work' %}Reversions{% endtrans %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_work_show', {'id': work.id, 'tab': 'distribution-contracts'}) }}" class="nav-link {{ tab == 'distribution-contracts' ? 'active' }}">
                            {% trans from 'contract' %}Distribution contracts{% endtrans %}
                        </a>
                    </li>
                </ul>
                <div class="card-body">
                    {% block content_inner %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="col-xxl-4">
            <div class="card card-body p-0 mb-3">
                {% include 'work/_embedded/_contract_information.html.twig' with {
                    work: work
                } %}
            </div>
            <div class="card card-body p-0">
                {% include 'work/_embedded/_information.html.twig' with {
                    work: work
                } %}
            </div>
        </div>
    </div>
{% endblock %}

