{% extends 'shared/layout/layout_base.html.twig' %}

{% block content_title %}
    {{ work.name }}
{% endblock %}
{% block content_action %}
    <a href="{{ path('app_acquisition_contract_work_update', {'contract': work.acquisitionContract.id, 'id': work.id}) }}" class="btn btn-warning btn-sm">{% trans from "misc" %}Update{% endtrans %}</a>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xxl-8">
            <div class="card">
                <ul class="nav nav-tabs nav-tabs-alt align-items-center" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button type="button" class="nav-link active" data-bs-toggle="tab" data-bs-target="#work-territories-tab" role="tab" aria-selected="true">
                            {% trans from 'work' %}Territories{% endtrans %}
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button type="button" class="nav-link" data-bs-toggle="tab" data-bs-target="#work-adaptations-tab" role="tab">
                            {% trans from 'work' %}Adaptations{% endtrans %}
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button type="button" class="nav-link" data-bs-toggle="tab" data-bs-target="#work-reversions-tab" role="tab">
                            {% trans from 'work' %}Reversions{% endtrans %}
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button type="button" class="nav-link" data-bs-toggle="tab" data-bs-target="#work-distribution-contracts-tab" role="tab">
                            {% trans from 'contract' %}Distribution contracts{% endtrans %}
                        </button>
                    </li>
                </ul>
                <div class="card-body tab-content">
                    <div class="tab-pane pull-x active show" id="work-territories-tab" role="tabpanel" tabindex="0">
                        <div class="card">
                            <div class="card-header text-end">
                                <a href="{{ path('app_work_territory_manage', {'work': work.id}) }}" class="btn btn-sm btn-warning">
                                    {% trans from 'work' %}Manage territories{% endtrans %}
                                </a>
                            </div>
                            <div class="card-body">
                                {% include 'work/territory/_embedded/_list.html.twig' with {
                                    workTerritories: work.workTerritories
                                } %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane pull-x" id="work-adaptations-tab" role="tabpanel" tabindex="0">
                        <div class="card">
                            <div class="card-header text-end">
                                <a href="{{ path('app_work_adaptation_add', {'work': work.id}) }}" class="btn btn-sm btn-success">
                                    {% trans from 'work' %}Add adaptation{% endtrans %}
                                </a>
                            </div>
                            <div class="card-body">
                                {% include 'work/adaptation/_embedded/_list.html.twig' with {
                                    adaptations: work.workAdaptations
                                } %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane pull-x" id="work-reversions-tab" role="tabpanel" tabindex="0">
                        <div class="card">
                            <div class="card-header text-end">
                                <a href="{{ path('app_work_reversion_add', {'work': work.id}) }}" class="btn btn-sm btn-success">{% trans from 'work' %}Add reversion{% endtrans %}</a>
                            </div>
                            <div class="card-body">
                                {% include 'work/reversion/_embedded/_list.html.twig' with {
                                    reversions: work.workReversions
                                } %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane pull-x" id="work-distribution-contracts-tab" role="tabpanel" tabindex="0">
                        <div class="card">
                            <div class="card-body">
                                {% include 'work/_distribution_contract_list.html.twig' with {
                                    contractWorks: work.contractWorks
                                } %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-4">
            <div class="card card-body p-0 mb-3">
                {% include 'work/_embedded/_contract_information.html.twig' with {
                    work: work
                } %}
            </div>
            <div class="card card-body p-0">
                {% include 'work/_embedded/_information.html.twig' with {
                    work: work
                } %}
            </div>
        </div>
    </div>
{% endblock %}

