{% extends 'shared/layout/layout_base.html.twig' %}

{% block content %}
    {% component card %}
        {% block header_content %}
            <h1>Work: {{ work.name }}</h1>
        {% endblock %}
        {% block body_content %}
            <ul>
                <li>Id: {{ work.id }}</li>
                <li>Internal ID: {{ work.internalId }}</li>
                <li>IMDB: <a href="{{ work.imdbLink }}" target="_blank">{{ work.imdbId }}</a></li>
                <li>Name: {{ work.name }}</li>
                <li>Original name: {{ work.originalName }}</li>
                <li>Year: {{ work.year }}</li>
                <li>Duration: {{ work.duration }}</li>
                <li>Origin: {{ work.origin.asText }}</li>

            </ul>

            <a href="{{ path('app_work_index') }}" class="btn btn-primary">List</a>
        {% endblock %}
    {% endcomponent %}
{% endblock %}

