{% extends 'shared/layout/layout_base.html.twig' %}

{% block content %}
    {% component card %}
        {% block header_content %}
            <h2 class="card-title text-center">Profile {{ user.fullName }} </h2>
        {% endblock %}
        {% block body_content %}
            <ul>
                <li>Full name: {{ user.fullName }}</li>
                <li>Email: {{ user.email }}</li>
                <li>Roles: {{ user.roles|join(', ') }}</li>
                <li>Enabled: {{ user.enabled }}</li>
                <li>Last login: {{ user.lastLogin|datetime_format }}</li>
                <li>Last activity: {{ user.lastActivity|datetime_format }}</li>
                <li>Created at: {{ user.createdAt|datetime_format }}</li>
                <li>Created by: {{ user.createdBy|user_format }}</li>
                <li>Updated at: {{ user.updatedAt|datetime_format }}</li>
                <li>Updated by: {{ user.updatedBy|user_format }}</li>
            </ul>
            <div class="justify-content-between">
                {% if is_granted(constant('App\\Security\\Voter\\UserVoter::SAME_USER'), user) %}
                    <a class="btn btn-success" href="{{ path('app_user_update', {'id': user.id}) }}">{% trans from 'misc' %}Update{% endtrans %}</a>
                {% endif %}
            </div>
        {% endblock %}
    {% endcomponent %}
{% endblock %}
