{% extends 'shared/layout/layout_base.html.twig' %}

{% block content_title %}
    {% trans from 'setting' %}List of territories{% endtrans %}
{% endblock %}
{% block content_action %}
    <a class="btn btn-sm btn-success" href="{{ path('app_setting_territory_add') }}">{% trans from 'setting' %}Add territory{% endtrans %}</a>
{% endblock %}
{% block content %}
    {% component card %}
        {% block body_content %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans from 'misc' %}Name{% endtrans %}</th>
                        <th>{% trans from 'misc' %}Archived?{% endtrans %}</th>
                        <th>{% trans from 'misc' %}Actions{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for territory in territories %}
                        <tr>
                            <td><a href="{{ path('app_setting_territory_show', {'id': territory.id}) }}">{{ territory.name }}</a></td>
                            <td>{{ territory.archived|bool_format }}</td>
                            <td><a class="btn btn-sm btn-warning" href="{{ path('app_setting_territory_update', {'id': territory.id}) }}">{% trans from 'misc' %}Update{% endtrans %}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    {% endcomponent %}
{% endblock %}
