{% extends 'shared/layout/layout_base.html.twig' %}

{% set isCompanyAdmin = is_granted(constant('App\\Security\\Voter\\CompanyVoter::COMPANY_ADMIN'), contract.company) %}

{% block content_title %}
    {% trans with {'%name%': contract.name} from 'contract' %}Distribution contract %name%{% endtrans %}
{% endblock %}

{% block content_action %}
    {% if isCompanyAdmin %}
        <a href="{{ path('app_distribution_contract_update', {'id': contract.id}) }}" class="btn btn-sm btn-warning">{% trans from 'misc' %}Update{% endtrans %}</a>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xxl-8">
            <div class="card mb-3">
                <ul class="nav nav-tabs nav-tabs-alt align-items-center">
                    <li class="nav-item">
                        <a href="{{ path('app_distribution_contract_show', {'id': contract.id, 'tab': 'works'}) }}" class="nav-link {{ 'works' == tab ? 'active' }}">
                            {% trans from 'work' %}Works{% endtrans %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_distribution_contract_show', {'id': contract.id, 'tab': 'revenues'}) }}" class="nav-link {{ 'revenues' == tab ? 'active' }}">
                            {% trans from 'work' %}Revenues{% endtrans %}
                        </a>
                    </li>
                </ul>
                <div class="card-body">
                    {% block content_inner %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="col-xxl-4">
            <div class="card card-body">
                {% include 'distribution_contract/_embedded/_information.html.twig' with {
                    contract: contract,
                } %}
            </div>
        </div>
    </div>
{% endblock %}
