{% extends 'shared/layout/layout_base.html.twig' %}

{% set isCompanyAdmin = is_granted(constant('App\\Security\\Voter\\CompanyVoter::COMPANY_ADMIN'), contract.company) %}

{% block content %}
    {% component card %}
        {% block header_content %}
            <h1 class="card-title text-center">
                {% trans with {
                    '%name%': contract.distributor.name
                } from 'contract' %}Distribution contract of distributor %name%{% endtrans %}
            </h1>
        {% endblock %}
        {% block body_content %}
            <div class="justify-content-between align-items-center text-center">
                <a href="{{ path('app_company_show', {'id': contract.company.id}) }}" class="btn btn-dark">{% trans from 'company' %}Back to company{% endtrans %}</a>

                {% if isCompanyAdmin %}
                    <a href="{{ path('app_company_distribution_contract_update', {'company': contract.company.id, 'id': contract.id}) }}" class="btn btn-warning">{% trans from 'misc' %}Update{% endtrans %}</a>
                {% endif %}
                <a href="{{ path('app_distribution_contract_generate_template', {'id': contract.id}) }}" class="btn btn-primary">{% trans from 'contract' %}Download CSV template{% endtrans %}</a>
                <a href="{{ path('app_distribution_contract_work_revenue_import', {'contract': contract.id}) }}" class="btn btn-success">{% trans from 'contract' %}Import revenues{% endtrans %}</a>
            </div>

            <ul class="list-unstyled">
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'misc' %}Name{% endtrans %}:</span>
                    <span>{{ contract.name }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'contract' %}Rights starts at{% endtrans %}:</span>
                    <span>{{ contract.startsAt|date_format }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'contract' %}Rights ends at{% endtrans %}:</span>
                    <span>{{ contract.endsAt|date_format }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'contract' %}Exclusivity{% endtrans %}:</span>
                    <span>{{ contract.exclusivity }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'contract' %}Amount{% endtrans %}:</span>
                    <span>{{ contract.amount ? contract.amount|format_currency(contract.currency) }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'contract' %}Report frequency{% endtrans %}:</span>
                    <span>{{ contract.reportFrequency ? contract.reportFrequency.asText|trans({}, 'misc') }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'misc' %}Created at{% endtrans %}:</span>
                    <span>{{ contract.createdAt|datetime_format }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'misc' %}Created by{% endtrans %}:</span>
                    <span>{{ contract.createdBy|user_format }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'misc' %}Updated at{% endtrans %}:</span>
                    <span>{{ contract.updatedAt|datetime_format }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'misc' %}Updated by{% endtrans %}:</span>
                    <span>{{ contract.updatedBy|user_format }}</span>
                </li>
            </ul>

            <h4>{% trans from 'work' %}Works{% endtrans %}</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>{% trans from 'work' %}Work{% endtrans %}</th>
                    <th class="text-end">{% trans from 'misc' %}Actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for contractWork in contract.contractWorks %}
                    <tr>
                        <td>{{ contractWork.work.name }}</td>
                        <td class="text-end">
                            <a href="{{ path('app_distribution_contract_work_territory_manage', {'contract': contract.id, 'work': contractWork.work.id}) }}" class="btn btn-warning">{% trans from 'misc' %}Manage territories{% endtrans %}</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th>Territory</th>
                                    <th>Channels</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for workTerritory in contractWork.workTerritories %}
                                    <tr>
                                        <td>{{ workTerritory.territory.name }}</td>
                                        <td>{{ workTerritory.broadcastChannels|map(channel => channel.name)|join(', ') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h4>{% trans from 'work' %}Revenues{% endtrans %}</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>{% trans from 'work' %}Work{% endtrans %}</th>
                    <th>{% trans from 'setting' %}Channel{% endtrans %}</th>
                    <th>{% trans from 'setting' %}Starts at{% endtrans %}</th>
                    <th>{% trans from 'setting' %}Ends at{% endtrans %}</th>
                    <th>{% trans from 'setting' %}Amount{% endtrans %}</th>
                    <th>{% trans from 'misc' %}Actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for contractWork in contractWorks %}
                    {% for revenue in contractWork.revenues %}
                    <tr>
                        <td>{{ contractWork.work.name }}</td>
                        <td>{{ revenue.broadcastChannel.name }}</td>
                        <td>{{ revenue.startsAt|date_format }}</td>
                        <td>{{ revenue.endsAt|date_format }}</td>
                        <td>{{ revenue.amount|format_currency(revenue.currency) }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endcomponent %}
{% endblock %}
