{% extends 'shared/layout/layout_base.html.twig' %}

{% block content %}
    {% component card %}
        {% block body_content %}
            <ul class="list-unstyled">
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'work'%}Work{% endtrans%}</span>
                    <span>{{ workAdaptation.work.name }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'work'%}Type{% endtrans%}</span>
                    <span>{{ workAdaptation.type.name }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'work'%}Cost{% endtrans%}</span>
                    <span>{{ workAdaptation.amount|format_currency(workAdaptation.currency) }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'misc'%}Created at{% endtrans%}</span>
                    <span>{{ workAdaptation.createdAt|datetime_format }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'misc'%}Created by{% endtrans%}</span>
                    <span>{{ workAdaptation.createdBy|user_format }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'misc'%}Updated at{% endtrans%}</span>
                    <span>{{ workAdaptation.updatedAt|datetime_format }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'misc'%}Updated by{% endtrans%}</span>
                    <span>{{ workAdaptation.updatedBy|user_format }}</span>
                </li>
            </ul>

            <a href="{{ path('app_work_show', {'id': workAdaptation.work.id}) }}" class="btn btn-primary">Retour à l'oeuvre</a>
        {% endblock %}
    {% endcomponent %}
{% endblock %}

