{% extends 'shared/layout/layout_base.html.twig' %}

{% block content %}
    {% set nonAcquiredMessage %}
        <span class="text-uppercase text-danger">{% trans from 'misc' %}Not acquired{% endtrans %}</span>
    {% endset %}

    {% component card %}
        {% block header_content %}
            <h1 class="h3 fw-bold mb-1">
                {% trans with {
                    'work': work.name
                } from 'work' %}Manage territory and channels from work %work%{% endtrans %}
            </h1>
        {% endblock %}
        {% block body_content %}
            {% if 0 == contract.broadcastChannels|length %}
                <div class="alert alert-danger">
                    {% trans from 'contract' %}No broadcast channels available for this contract{% endtrans %}<br />

                    {% set link %}
                        <a href="{{ path('app_distribution_contract_update', {'id': contract.id}) }}">
                            {% trans from 'contract' %}update the contract{% endtrans %}
                        </a>
                    {% endset %}
                    {% trans with {
                        '%link%': link
                    } from 'contract' %}Please %link% and add broadcast channels to be able to continue
                    {% endtrans %}
                </div>
            {% endif %}

            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="table-responsive">
                <table class="table" data-controller="datatable--select-all">
                    <thead>
                    <tr>
                        <th>{% trans from 'setting' %}Territory{% endtrans %}</th>
                        <th>{% trans from 'work' %}Exclusive{% endtrans %}</th>
                        <th class="text-nowrap">{% trans from 'misc' %}Select all{% endtrans %}</th>
                        {% for channel in contract.broadcastChannels %}
                            <th>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input"
                                           id="checkbox-channel-{{ channel.id }}"
                                           name="{{ form.vars.id }}[selectAll][column][{{ channel.id }}]"
                                           data-datatable--select-all-target="columnAll"
                                           data-action="input->datatable--select-all#toggleColumn"
                                           data-datatable--select-all-column-param="{{ channel.id }}"
                                           data-column-id="{{ channel.id }}"
                                    />
                                    <label class="form-check-label" for="checkbox-channel-{{ channel.id }}">
                                        {{ channel.name }}
                                    </label>
                                </div>
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for territory in contract.territories %}
                        <tr>
                            <td class="text-nowrap">{{ territory.name }}</td>
                            {% set workTerritoryBroadcastChannels = work.territoryBroadcastChannels(territory) %}
                            {% if 0 == workTerritoryBroadcastChannels|length %}
                                <td colspan="4" class="text-center">
                                    {{ nonAcquiredMessage }}
                                </td>
                            {% else %}
                                {% set formName = call_static('App\\Form\\Dto\\Contract\\DistributionContractWorkTerritoryFormDto', 'getFormName', territory) %}
                                <td>
                                    {{ form_widget(form.exclusives[formName]) }}
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input"
                                           name="{{ form.vars.id }}[selectAll][row][{{ territory.id }}]"
                                           data-datatable--select-all-target="rowAll"
                                           data-action="input->datatable--select-all#toggleRow"
                                           data-datatable--select-all-row-param="{{ territory.id }}"
                                           data-row-id="{{ territory.id }}"
                                    />
                                </td>
                                {% for channel in contract.broadcastChannels %}
                                    {% set acquiredChannel = channel in workTerritoryBroadcastChannels %}
                                    {% set formName = call_static('App\\Form\\Dto\\Contract\\DistributionContractWorkTerritoryFormDto', 'getFormName', territory, channel) %}
                                    <td>
                                        {{ acquiredChannel ? form_widget(form.broadcastChannels[formName], {
                                            'attr': {
                                                'data-datatable--select-all-target': 'checkbox',
                                                'data-row-id': territory.id,
                                                'data-column-id': channel.id,
                                            }
                                        }) : nonAcquiredMessage }}
                                    </td>
                                {% endfor %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <button class="btn btn-sm btn-warning" type="submit">
                {% trans from 'misc' %}Save{% endtrans %}
            </button>
            <a href="{{ backUrl }}" class="btn btn-sm btn-dark">{% trans from 'misc' %}Back{% endtrans %}</a>
            {{ form_end(form) }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}