{% extends 'shared/layout/layout_base.html.twig' %}

{% block content %}
    {% component card %}
        {% block header_content %}
            <h1 class="h3 fw-bold mb-1">
                {% trans with {
                    'work': work.name
                } from 'work' %}Manage territory and channels from work %work%{% endtrans %}
            </h1>
        {% endblock %}
        {% block body_content %}
            {% if 0 == contract.broadcastChannels|length %}
                <div class="alert alert-danger">
                    {% trans from 'contract' %}No broadcast channels available for this contract{% endtrans %}<br />

                    {% set link %}
                        <a href="{{ path('app_distribution_contract_update', {'id': contract.id}) }}">
                            {% trans from 'contract' %}update the contract{% endtrans %}
                        </a>
                    {% endset %}
                    {% trans with {
                        '%link%': link
                    } from 'contract' %}Please %link% and add broadcast channels to be able to continue
                    {% endtrans %}
                </div>
            {% endif %}

            {{ form_start(form) }}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans from 'setting' %}Territory{% endtrans %}</th>
                        <th class="text-nowrap">{% trans from 'misc' %}Select all{% endtrans %}</th>
                        {% for channel in contract.broadcastChannels %}
                            <th>{{ channel.name }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for territory in work.territories %}
                        <tr data-controller="datatable--select-all-row">
                            <td class="text-nowrap">{{ territory.name }}</td>
                            <td>
                                <input type="checkbox" class="form-check-input"
                                       data-datatable--select-all-row-target="checkAll"
                                       data-action="input->datatable--select-all-row#toggleAll" />
                            </td>
                            {% for channel in contract.broadcastChannels %}
                                {% set formName = call_static('App\\Form\\Dto\\Contract\\DistributionContractWorkTerritoryFormDto', 'getFormName', territory, channel) %}
                                {% set formView = form.territories[formName] ?? null %}
                                <td class="text-center">
                                    {{ formView ? form_widget(formView, {
                                        'attr': {
                                            'data-datatable--select-all-row-target': 'checkbox'
                                        }
                                    }) }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <button class="btn btn-warning mt-3" type="submit">
                {% trans from 'misc' %}Save{% endtrans %}
            </button>
            {{ form_end(form) }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}