{% extends 'shared/layout/layout_base.html.twig' %}

{% block content %}
    {% component card %}
        {% block header_content %}
            <h1 class="card-title text-center">List of companies</h1>
        {% endblock %}
        {% block body_content %}
            <div class="justify-content-between">
                <a href="{{ path('app_company_add') }}" class="btn btn-success">Add company</a>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>User count</th>
                </tr>
                </thead>
                <tbody>
                {% for company in companies %}
                    <tr>
                        <td><a href="{{ path('app_company_show', {'id': company.id}) }}">{{ company.name }}</a></td>
                        <td>{{ company.type.asText|trans({}, 'company') }}</td>
                        <td>{{ company.users|length }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endcomponent %}
{% endblock %}
