{% extends 'shared/layout/layout_base.html.twig' %}

{% set isCompanyAdmin = is_granted(constant('App\\Security\\Voter\\CompanyVoter::COMPANY_ADMIN'), company) %}

{% block content %}
    {% component card %}
        {% block header_content%}
            <h1 class="card-title text-center">Company {{ company.name }}</h1>
        {% endblock %}
        {% block body_content%}
            <ul>
                <li>Id: {{ company.id }}</li>
                <li>Name: {{ company.name }}</li>
                <li>Type: {{ company.type.asText|trans({}, 'company') }}</li>
                <li>Created at: {{ company.createdAt|datetime_format }}</li>
                <li>Created by: {{ company.createdBy|user_format }}</li>
                <li>Updated at: {{ company.updatedAt|datetime_format }}</li>
                <li>Updated by: {{ company.updatedBy|user_format }}</li>
            </ul>

            <div class="justify-content-between align-items-center text-center">
                <a href="{{ path('app_company_index') }}" class="btn btn-primary">List</a>
                {% if isCompanyAdmin %}
                    <a href="{{ path('app_company_update', {'id': company.id}) }}" class="btn btn-warning">Update</a>
                    <a href="{{ path('app_company_user_add', {'company': company.id}) }}" class="btn btn-success">Add a user</a>
                    <a href="{{ path('app_company_contract_add', {'company': company.id}) }}" class="btn btn-success">Add a contract</a>
                {% endif %}
            </div>

            <br>

            <hr class="my-0">

            <h4>Contracts</h4>

            {% include 'contract/_embedded/_list.html.twig' with {
                contracts: company.contracts,
            } %}

            <br>

            <h4>Users</h4>

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for userCompany in company.users %}
                    {% set user = userCompany.user %}
                    <tr>
                        <td><a href="{{ path('app_user_show', {'id': user.id}) }}">{{ user.fullName }}</a></td>
                        <td>{{ userCompany.permission.asText }}</td>
                        <td>
                            {% if isCompanyAdmin %}
                                <a class="btn btn-danger" href="{{ path('app_company_user_remove', {'company': company.id, 'user': user.id}) }}">Remove</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endcomponent %}
{% endblock %}
