{% extends 'shared/layout/layout_base.html.twig' %}

{% set isCompanyAdmin = is_granted(constant('App\\Security\\Voter\\CompanyVoter::COMPANY_ADMIN'), company) %}

{% block content_title %}
    {{ company.name }}
{% endblock %}

{% block content_action %}
    {% if isCompanyAdmin %}
        <a href="{{ path('app_company_update', {'id': company.id}) }}" class="btn btn-sm btn-warning">{% trans from "misc" %}Update{% endtrans %}</a>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xxl-9">
            <div class="card mb-3">
                <ul class="nav nav-tabs nav-tabs-alt align-items-center" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button type="button" class="nav-link active" data-bs-toggle="tab" data-bs-target="#company-acquisition-contracts-tab" role="tab" aria-controls="ecom-product-reviews" aria-selected="true">{% trans from 'contract' %}Acquisition contracts{% endtrans %}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button type="button" class="nav-link" data-bs-toggle="tab" data-bs-target="#company-users-tab" role="tab" aria-controls="ecom-product-reviews" aria-selected="false" tabindex="-1">{% trans from 'user' %}Users{% endtrans %}</button>
                    </li>
                </ul>
                <div class="card-body tab-content">
                    <div class="tab-pane pull-x active show" id="company-acquisition-contracts-tab" role="tabpanel" tabindex="0">
                        <div class="card">
                            <div class="card-header text-end">
                                <a href="{{ path('app_company_acquisition_contract_add', {'company': company.id}) }}" class="btn btn-sm btn-success">
                                    {% trans from "contract" %}Add acquisition contract{% endtrans %}
                                </a>
                            </div>
                            <div class="card-body">
                                {% include 'acquisition_contract/_embedded/_list.html.twig' with {
                                    contracts: company.acquisitionContracts,
                                } %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane pull-x" id="company-users-tab" role="tabpanel" tabindex="0">
                        <div class="card">
                            <div class="card-header text-end">
                                <a href="{{ path('app_company_user_add', {'company': company.id}) }}" class="btn btn-sm btn-success">{% trans from "user" %}Add user{% endtrans %}</a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>{% trans from 'work' %}Name{% endtrans %}</th>
                                            <th>{% trans from 'work' %}Role{% endtrans %}</th>
                                            <th>{% trans from 'misc' %}Actions{% endtrans %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for userCompany in company.users %}
                                            {% set user = userCompany.user %}
                                            <tr>
                                                <td><a href="{{ path('app_user_show', {'id': user.id}) }}">{{ user.fullName }}</a></td>
                                                <td>{{ userCompany.permission.asText }}</td>
                                                <td>
                                                    {% if isCompanyAdmin %}
                                                        <a class="btn btn-sm btn-danger" href="{{ path('app_company_user_remove', {'company': company.id, 'user': user.id}) }}">{% trans from 'misc' %}Remove{% endtrans %}</a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3">
            <div class="card mb-3">
                <div class="card-body p-1">
                    <table class="table table-striped table-borderless fs-sm">
                        <tbody>
                        <tr>
                            <td>{% trans from 'misc' %}Created at{% endtrans %}</td>
                            <td>
                                {{ company.createdAt|datetime_format }}
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans from 'misc' %}Created by{% endtrans %}</td>
                            <td>
                                {{ company.createdBy|user_format }}
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans from 'misc' %}Updated at{% endtrans %}</td>
                            <td>
                                {{ company.updatedAt|datetime_format }}
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans from 'misc' %}Updated by{% endtrans %}</td>
                            <td>
                                {{ company.updatedBy|user_format }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
