{% extends 'shared/layout/base.html.twig' %}

{% set isCompanyAdmin = is_granted(constant('App\\Security\\Voter\\CompanyVoter::COMPANY_ADMIN'), company) %}

{% block body %}
    <h1>Company {{ company.name }}</h1>

    {{ dump(company) }}

    <a href="{{ path('app_company_index') }}">List</a>
    {% if isCompanyAdmin %}
        <a href="{{ path('app_company_update', {'id': company.id}) }}">Update</a>
        <a href="{{ path('app_company_user_add', {'company': company.id}) }}">Add a user</a>
    {% endif %}

    <h1>Users</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for userCompany in company.users %}
            {% set user = userCompany.user %}
            <tr>
                <td>{{ userCompany.user.fullName }}</td>
                <td>{{ userCompany.permission.asText }}</td>
                <td>
                    {% if isCompanyAdmin %}
                        <a class="btn btn-danger" href="{{ path('app_company_user_remove', {'company': company.id, 'user': user.id}) }}">Remove</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
