{% extends 'shared/layout/layout_base.html.twig' %}

{% set isCompanyAdmin = is_granted(constant('App\\Security\\Voter\\CompanyVoter::COMPANY_ADMIN'), company) %}

{% block content %}
    {% component card %}
        {% block header_content%}
            <h1 class="card-title text-center">{{ company.name }}</h1>
        {% endblock %}
        {% block body_content%}
            <div class="justify-content-between align-items-center text-center">
                <a href="{{ path('app_company_index') }}" class="btn btn-primary">{% trans from "misc" %}List{% endtrans %}</a>
                {% if isCompanyAdmin %}
                    <a href="{{ path('app_company_update', {'id': company.id}) }}" class="btn btn-warning">{% trans from "misc" %}Update{% endtrans %}</a>
                    <a href="{{ path('app_company_user_add', {'company': company.id}) }}" class="btn btn-success">{% trans from "user" %}Add user{% endtrans %}</a>
                    <a href="{{ path('app_company_contract_add', {'company': company.id}) }}" class="btn btn-success">{% trans from "contract" %}Add contract{% endtrans %}</a>
                {% endif %}
            </div>

            <ul class="list-unstyled">
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'company' %}Name{% endtrans %}:</span>
                    <span>{{ company.name }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'company' %}Type{% endtrans %}:</span>
                    <span>{{ company.type.asText|trans({}, 'company') }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'misc' %}Created at{% endtrans %}:</span>
                    <span>{{ company.createdAt|datetime_format }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'misc' %}Created by{% endtrans %}:</span>
                    <span>{{ company.createdBy|user_format }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'misc' %}Updated at{% endtrans %}:</span>
                    <span>{{ company.updatedAt|datetime_format }}</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">{% trans from 'misc' %}Updated by{% endtrans %}:</span>
                    <span>{{ company.updatedBy|user_format }}</span>
                </li>
            </ul>

            <br>

            <hr class="my-0">

            <h4>Contracts</h4>

            {% include 'contract/_embedded/_list.html.twig' with {
                contracts: company.contracts,
            } %}

            <br>

            <h4>Users</h4>

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for userCompany in company.users %}
                    {% set user = userCompany.user %}
                    <tr>
                        <td><a href="{{ path('app_user_show', {'id': user.id}) }}">{{ user.fullName }}</a></td>
                        <td>{{ userCompany.permission.asText }}</td>
                        <td>
                            {% if isCompanyAdmin %}
                                <a class="btn btn-danger" href="{{ path('app_company_user_remove', {'company': company.id, 'user': user.id}) }}">{% trans from 'misc' %}Remove{% endtrans %}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endcomponent %}
{% endblock %}
