{% extends 'shared/layout/layout_base.html.twig' %}

{% block content %}
    {% component card %}
        {% block body_content %}
            <ul>
                <li>Id: {{ revenue.id }}</li>
                <li>Oeuvre: {{ revenue.work.name }}</li>
                <li>Distributor: {{ revenue.distributor.name }}</li>
                <li>Channel: {{ revenue.channel.name }}</li>
                <li>Starts at: {{ revenue.startsAt|date_format }}</li>
                <li>Ends at: {{ revenue.endsAt|date_format }}</li>
                <li>Revenue: {{ revenue.revenue }}</li>
                <li>Created at: {{ revenue.createdAt|datetime_format }}</li>
                <li>Created by: {{ revenue.createdBy|user_format }}</li>
                <li>Updated at: {{ revenue.updatedAt|datetime_format }}</li>
                <li>Updated by: {{ revenue.updatedBy|user_format }}</li>
            </ul>

            <a href="{{ path('app_work_show', {'id': revenue.work.id}) }}" class="btn btn-primary">Retour à l'oeuvre</a>
        {% endblock %}
    {% endcomponent %}
{% endblock %}

