{% block pager_amount %}
    {{ viewData.amount ? viewData.amount|format_currency(viewData.currency) }}
{% endblock %}

{% block pager_icon %}
    {% set attributes = viewData.attributes|merge({
        'class': 'fa fa-' ~ viewData.icon ~ ' ' ~ viewData.attributes.class|default('')
    }) %}

    <i {{ attributes|attributes_format }}></i>
{% endblock %}

{% block pager_button %}
    <button type="button" {{ viewData.attributes|attributes_format }}>
        {% if viewData.value is instanceof('Symfony\\Component\\Translation\\TranslatableMessage') %}
            {{ viewData.value|trans|e }}
        {% elseif viewData.value is instanceof('App\\Model\\Pager\\Field\\FieldInterface') %}
            {% with {
                'viewData': viewData.value,
            } %}
                {{ block(viewData.type.value) }}
            {% endwith %}
        {% else %}
            {{ viewData.value|e }}
        {% endif %}
    </button>
{% endblock %}

{% block pager_popover_button %}
    <button type="button"
            data-controller="widgets--tooltip"
            data-widgets--tooltip-content-value="{{ viewData.popoverContent|e|raw }}"
        {{ viewData.attributes|attributes_format }}>
        {% if viewData.value is instanceof('Symfony\\Component\\Translation\\TranslatableMessage') %}
            {{ viewData.value|trans|e }}
        {% elseif viewData.value is instanceof('App\\Model\\Pager\\Field\\FieldInterface') %}
            {% with {
                'viewData': viewData.value,
            } %}
                {{ block(viewData.type.value) }}
            {% endwith %}
        {% else %}
            {{ viewData.value|e }}
        {% endif %}
    </button>
{% endblock %}

{% block pager_collection %}
    {% for element in viewData.elements %}
        {% if element is not null %}
            {% with {
                'viewData': element,
            } %}
                {{ block(viewData.type.value) }}
            {% endwith %}
            {{ viewData.separator|default('')|raw }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block pager_simple_array %}
    {{ viewData.values|join(viewData.separator) }}
{% endblock %}

{% block pager_link %}
    <a {{ viewData.attributes|attributes_format }}>
        {% if viewData.value is instanceof('Symfony\\Component\\Translation\\TranslatableMessage') %}
            {{ viewData.value|trans|e }}
        {% else %}
            {{ viewData.value|e }}
        {% endif %}
    </a>
{% endblock %}

{% block pager_period %}
    {{ viewData.from|date_format }} - {{ viewData.to|date_format }}
{% endblock %}

{% block pager_boolean %}
    {{ viewData.value|bool_format(false, true) }}
{% endblock %}