{% extends 'shared/layout/layout_base.html.twig' %}

{% block content_title %}
    {{ title|trans }}
{% endblock %}
{% block content %}
    {% component card %}
        {% block body_content %}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_errors(form) }}

            {{ form_rest(form) }}
            <button class="btn btn-sm btn-primary" type="submit">
                {% trans from 'misc' %}Save{% endtrans %}
            </button>
            {{ form_end(form) }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}